/* general css*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #DBDBDB;
}

/* shared css  */

.white_bg {
    background-color: white;
    border-radius: 10px;
}

/* specific css */

header {
    height: 80px;
    margin-bottom: 50px;
    padding-left: 20px;

}

#logo {
    vertical-align: middle;
    height:100%;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    line-height: 70px;
    vertical-align: middle;
}

#content_container {
    width: 60%;
    height: 600px;
    margin: 0 auto;
    margin-bottom: 20px;
    color: rgb(48, 48, 48);
    font-family: sans-serif;
}

.inline {
    display: inline-block;
}

.tiny_font {
    font-size: 11px;
}

ul {
    list-style: none;
    line-height: 20px;
    margin-left: 40px;
    margin-top: 30px;
    font-weight: 600;
}

li {
    margin-bottom: 5px;
    font-size: 13px;
}

h3 {
    margin-bottom: 5px;
}

.label {
    display: inline-block;
    padding: 5px 8px;
    border-radius: 20px;
    color: white;
    font-family: sans-serif;
    font-size: 10px;
}

.special_label {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    font-family: sans-serif;
    font-size: 10px;
    margin: 15px;
    margin-left: 40px;
    border: 1px solid #189ef8;
}

.special_white_label {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    font-family: sans-serif;
    font-size: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid darkgrey;
}

.blue_button {
    background-color: #189ef8;
}

.white_button {
    background-color: white;
    color: darkgrey;
}

.editorial_label {
    background-color: #189ef8;
}

.goals_label {
    background-color: rgb(165, 58, 252);
}

.recruiting_label {
    background-color: rgb(31, 117, 64);
}

.mobile_label {
    background-color: rgb(241, 167, 28);
}

.website_label {
    background-color: violet;
}
.sales_label {
    background-color: yellowgreen;
}

.checkmark {
    color: green;
}

.crossmark {
    color: red;
}

.circle {
    border: 1px solid;
    border-radius: 50%;
    padding: 2px;
}
