/* general css*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgray;
}

/* shared css  */

.white_bg {
    background-color: white;
}

/* specific css */

header {
    height: 80px;
    margin-bottom: 50px;
    padding-left: 20px;

}

#logo {
    vertical-align: middle;
    height:100%;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    line-height: 70px;
    vertical-align: middle;
}

#content_container {
    width: 60%;
    height: 600px;
    margin: 0 auto;
}

.inline {
    display: inline-block;
}



